html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;;
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #333333;
}

img {
    max-width: 100%;
}

#header {
    font: 700 1.5rem 'Inconsolata', monospace ;
    margin: 40px 75px 60px;
}

.main {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.image {
    flex: 1 1 50%;
    padding: 50px;
    text-align: center;
}

.image img {
    max-width: 80%;
}

.content {
    flex: 1 1 50%;
    padding: 0 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.content * {
    margin: 30px;
}

.description {
    width: 50%;
    font-weight: 400;
    font-size: 1.5rem;
    color: #4F4F4F;
}

.heading {
    font-size: 4rem;
    width: 75%;
}

.button {
    padding: 25px;
    background-color: #333333;
    border: none;
    color: #ffffff;
    font: 700 0.875rem 'Space Bold', monospace;
}

#footer {
    font: 500 0.875rem 'Montserrat', sans-serif;
    color: #BDBDBD;
    text-align: center;
    margin: 100px 0 25px;
}

#footer a, #footer a:visited {
    color: #BDBDBD;
}


@media (max-width: 1200px) {

    #header {
        margin: 30px;
    }

    .image {
        padding: 0;
    }

    .image img {
        max-width: 55%;
    }

    .main {
        flex-flow: column;
        padding: 0;
    }

    .content {
        padding: 0;
        padding-left: 20px;
    }

    .content * {
        margin: 20px 0;
    }

    .heading {
        font-size: 3rem;
        width: 100%;
    }

    .description {
        font-size: 1.125rem;
        width: 100%;
    }


}

@media (max-width: 800px) {
    .image img {
        max-width: 80%;
    }
}